<!DOCTYPE html>
<html>
<head>
  <title>Credential</title>
</head>
<body>
  <h1>Your Credential</h1>
  <p>These are your login username and password</p>
  <p>Username : {{username}}</p>
  <p>Password : {{number}}</p>
</body>
</html>
